.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #fff;
  height: 64px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* LOGO */
.header-left {
  flex: 1;
  display: flex;
  align-items: center;
    cursor: pointer;
}
.header-title {
  font-size: 24px;
  font-weight: 700;
  color: #1890ff;
  margin: 0;
  letter-spacing: 1px;
  transition: color 0.3s;
}

/* MENU GIỮA */
.header-center {
  flex: 3;
  display: flex;
  justify-content: center;
}

/* ICON PHẢI */
.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.header-icon {
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s;
}

.header-icon:hover {
  color: #1890ff;
}
